
local_env.bat
local.tweaks
local.dev_id

citrus.exe
citrus.pdb
citrus_server.exe
citrus_server.pdb
citrus_release.exe
citrus_release.pdb

main.obj
.vscode
.vs/**
todo.txt

usr/
tmp/